// Colors
$yellow: rgba(181, 137, 0, 0.7);
$orange: rgba(203, 75, 22, 0.7);
$red: rgba(220, 50, 47, 0.7);
$magenta: rgba(211, 54, 130, 0.7);

@mixin font($size) {
    font-family: Lato;
    font-weight: 300;
    font-size: $size;
}

body {
    @include font(14px);

    color: white;
    margin: 0;
    padding: 0;
}

div.react-unit{
    border-bottom: solid 3px white;
    padding: 20px;
    text-align: center;

    ul {
        padding: 0;
    }

    li {
        list-style-type:none
    }

    &#counter {
        background: $yellow;
    }

    &#message {
        background: $orange;
    }

    &#filter-list {
        background: $red;
    }

    &#todo {
        background: $magenta;
    }

    input {
        @include font(16px);

        border: none;
        line-height: 21px;
        padding: 5px;

        &:focus {
            outline: none;
        }
    }
}
